<h1>Attachments#create</h1>
<p>Find me in app/views/attachments/create.html.erb</p>

<% form_tag 'create', :multipart => true do %>
  <%= file_field_tag 'attachment' %>
  <%= submit_tag "Send Attachment" %>
<% end %>
